p.consolas {
   color: orange;
   background-color: black;
   font-family: "Times New Roman"
   font-size: 140%   
}

#intro {
   color: red;
   background-color: yellow;
}

.steps {
   color: blue;
   background-color: white;
   font-size: 1.4em;
}

.steps {border-style: dotted; border-width: 5px;}
.dotted {border-style: dotted;}
